<p id="notice"><%= notice %></p>

<table>
  <tr>
    <td id="HeaderMostrarAutor">Nombre: </td>
    <td id = "ContentMostrarAutor"><%= @author.first_name %></td>
  </tr>

  <tr>
    <td id="HeaderMostrarAutor">Apellidos: </td>
    <td id = "ContentMostrarAutor"><%= @author.last_name %></td>
  </tr>

</table>

<%= link_to 'Editar', edit_author_path(@author) %>
<%= link_to 'Volver', authors_path %>
